@media (max-width: 1200px) {
    .introducing {
        &__txt {
            font-size: 50px;
            line-height: 49px;
            padding: 0;
        }
        &__secimage {
            margin-top: 70px;
        }
    }
    .steps {
        &__subtitle {
            font-size: 50px;
        }
        &__content {
            margin-top: 55px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item:last-child {
            margin-top: 30px;
        }
    }
    .tracking {
        padding: 60px 85px 80px 85px;
        &__subtitle {
            font-size: 56px;
            line-height: 48px;
        }
        &__img {
            width: 55%;
        }
    }
    .delivery {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__payment {
            order: 2;
            margin-top: 40px;
        }
        &__content {
            order: 1;
            text-align: center;
        }
        &__custom {
            top: 667px;
            left: 93px;
        }
    }
    .map {
        padding: 40px 100px 60px 100px;
    }
    .start {
        &__wrapper {
            padding: 20px 75px 60px 100px; 
        }
        &__subtitle {
            margin-top: 5px;
            font-size: 52px;
            line-height: 53px;
        }
        &__descr {
            max-width: 403px;
            font-size: 14px;
        }
    }
    .footer {
        padding: 0 60px 40px 60px;
        &__wrapper {
            padding: 25px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        padding: 10px 50px;
        &__logo {
            img {
                width: 100px;
            }
        }
        &__menu {
            min-width: 365px;
        }
        &__item {
            font-size: 13px;
            &-active {
                font-size: 13px;
            }
        }
    }
    .title {
        font-size: 14px;
    }
    .introducing {
        padding: 30px 60px 35px 60px; //flag
        &__subtitle {
            font-size: 59px;
            line-height: 67px;
        }
        &__descr {
            font-size: 14px;
        }
        &__menu {
            margin-top: 30px;
        }
        &__advantages {
            padding: 0px 15px;
            font-size: 14px;
        }
    }
    .steps {
        padding: 35px 60px 47px 60px;
        &__subtitle {
            line-height: 54px;
        }
        &__content {
            margin-top: 20px;
        }
        &__item {
            &:last-child {
                margin-top: 0;
            }
            padding-top: 20px;
            &-title {
                margin-top: 10px;
            }
            &-descr {
                margin-top: 4px;
            }
        }
    }
    .tracking {
        padding: 40px 60px 50px 60px;
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            font-size: 45px;
        }
        &__descr {
            margin: 13px 0 17px 0;
        }
        &__img {
            margin-top: 30px;
            width: 100%;
        }
    }
    .delivery {
        padding: 40px 60px 50px 60px;
        &__subtitle {
            font-size: 55px;
            line-height: 52px;
        }
        &__custom {
            top: 627px;
            left: 5px;
        }
    }
    .map {
        padding: 40px 60px 50px 60px;
        &__subtitle {
            font-size: 51px;
            line-height: 48px;
        }
    }
    .question {
        padding: 0 60px 50px 60px;
        &__subtitle {
            font-size: 51px;
            line-height: 48px;
        }
        &__content {
            margin-top: 25px;
        }
        &__ask {
            &-title {
                font-size: 16px;
            }
        }
    }
    .start {
        padding: 40px 60px 50px 60px;
        &__wrapper {
            padding: 0;
            flex-direction: column;
            text-align: center;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        &__subtitle {
            font-size: 44px;
            line-height: 41px;
        }
        &__descr {
            margin: 10px 0 17px 0;
        }
        &__img {
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .footer {
        padding: 0 40px 0 40px;
        &__content {
            width: 360px;
            font-size: 14px;
        }
        &__menu {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        &__title {
            font-size: 15px;
        }
        &__descr {
            &-logo {
                max-width: 110px;
            }
            &-title {
                font-size: 14px;
            }
            &-subtitle {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        min-height: 50px;
        padding: 5px 25px;
        &__logo {
            img {
                width: 75px;
            }
        }
        &__menu {
            min-width: 330px;
        }
        &__item {
            font-size: 12px;
            &-active {
                font-size: 12px;
                padding: 8px 26px;
            }
        }
    }
    .title {
        font-size: 13px;
    }
    .introducing {
        padding: 30px 40px 35px 40px; //flag
        &__subtitle {
            font-size: 52px;
            line-height: 52px;
        }
        &__descr {
            font-size: 13px;
        }
        &__menu {
            margin-top: 30px;
        }
        &__advantages {
            padding: 0px 15px;
            font-size: 12px;
            line-height: 19px;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item img{
            width: 17px;
            margin-right: 0;
        }
        &__image {
            margin-top: 20px;
            margin-bottom: 50px;
        }
        &__txt {
            font-size: 40px;
            line-height: 40px;
        }
        &__secimage {
            margin-top: 60px;
        }
    }
    .steps {
        padding: 30px 40px 35px 40px;
        &__subtitle {
            font-size: 44px;
            line-height: 44px;
        }
        &__item {
            &-descr {
                font-size: 13px;
                line-height: 18px;
            }
        }
    }
    .tracking {
        padding: 30px 40px 40px 40px;
        &__subtitle {
            font-size: 43px;
        }
        &__descr {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .delivery {
        padding: 30px 40px 40px 40px;
        &__subtitle {
            font-size: 50px;
            line-height: 42px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 15px;
            line-height: 20px;
        }
        &__custom {
            display: none;
        }
        &__payment {
            margin-top: 20px;
        }
    }
    .map {
        padding: 30px 40px 40px 40px;
        &__descr {
            font-size: 15px;
            margin-top: 15px;
        }
        &__operating {
            font-size: 15px;
        }
    }
    .question {
        padding: 30px 40px 40px 40px;
        &__item {
            height: 60px;
        }
        &__ask {
            &-title {
                font-size: 15px;
            }
        }
    }
    .footer {
        padding: 0 30px 0 30px;
        &__wrapper {
            padding: 15px;
        }
        &__content {
            width: 280px;
        }
        &__menu {
            li {
                margin-top: 5px;
                a {
                    font-size: 12px;
                }
            }
        }
        &__title {
            font-size: 13px;
        }
        &__descr {
            &-logo {
                max-width: 100px;
            }
            &-title {
                font-size: 13px;
            }
            &-subtitle {
                margin-top: 7px;
                font-size: 11px;
            }
        }
    } 
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        padding: 3px;
        &__logo {
            img {
                width: 60px;
            }
        }
        &__menu {
            min-width: 200px;
            ul {
                padding: 0;
            }
        }
        &__item {
            font-size: 9px;
            &-active {
                font-size: 9px;
                padding: 6px 18px;
            }
        }
    }
    .title {
        font-size: 10px;
    }
    .introducing {
        padding: 10px 20px 35px 20px; //flag
        &__subtitle {
            font-size: 30px;
            line-height: 34px;
        }
        &__descr {
            margin-top: 13px;
            font-size: 10px;
            line-height: 14px;
        }
        &__menu {
            margin-top: 20px;
        }
        &__advantages {
            padding: 0px 5px;
            font-size: 9px;
            margin-top: 20px;
            flex-wrap: nowrap;
            flex-direction: column;
        }
        &__item img{
            width: 17px;
            margin-right: 0;
        }
        &__image {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        &__txt {
            font-size: 23px;
            line-height: 20px;
        }
        &__secimage {
            margin-top: 30px;
        }
    }
    .steps {
        padding: 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__item {
            img {
                width: 70%;
            }
            &-title {
                font-size: 12px;
            }
            &-descr {
                font-size: 10px;
                line-height: 13px;
            }
        }
    }
    .tracking {
        padding: 20px 20px 25px 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__descr {
            font-size: 11px;
            line-height: 14px;
        }
        &__img {
            margin-top: 15px;
            width: 105%;
        }
    }
    .delivery {
        padding: 20px 20px 25px 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__descr {
            font-size: 11px;
            line-height: 14px;
        }
        &__payment {
            margin-right: 0;
        }
        &__order {
            font-size: 15px;
            height: 41px;
        }
        &__menu {
            margin-top: 15px;
        }
        &__item {
            font-size: 14px;
        }
        &__info {
            margin-top: 15px;
            height: 116px;
        }
        &__title {
            font-size: 15px;
            margin-top: 15px;
        }
        &__form {
            margin-top: 15px;
            &-item {
                &:nth-child(3) {
                    padding: 10px 16px;
                }
                height: 50px;
                font-size: 14px;
                padding: 16px 16px
            }
            &-subtxt {
                display: none;
            }
            &__btn {
                height: 49px;
                font-size: 15px;
            }
        }
        label {
            font-size: 14px;
        }
    }
    .map {
        padding: 20px 20px 25px 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__descr {
            font-size: 11px;
            line-height: 14px;
        }
        &__operating {
            font-size: 11px;
            margin-top: 4px;
        }
    }
    .question {
        padding: 20px 20px 25px 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__content {
            margin-top: 15px;
        }
        &__item {
            height: 35px;
        }
        &__ask {
            &-title {
                font-size: 10px;
            }
        }
        &__arrow {
            width: 7px;
            height: 7px;
            border-right: 2px solid black;
            border-top: 2px solid black;
        }
    }
    .start {
        padding: 20px 20px 25px 20px;
        &__subtitle {
            font-size: 31px;
            line-height: 31px;
        }
        &__descr {
            font-size: 11px;
            line-height: 14px;
            margin: 10px 0;
        }
    }
    .footer {
        padding: 0 10px;
        &__wrapper {
            flex-direction: column;
            padding: 5px;
        }
        &__descr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            &-title {
                display: none;
            }
        }
        &__content {
            width: 250px;
        }
        &__menu {
            li {
                margin-top: 0;
                a {
                    font-size: 10px;
                }
            }
        }
        &__title {
            font-size: 11px;
        }
    }  
}


