.steps {
    padding: 35px 85px 47px 85px;
    background-color: #FAFAFA;
    &__subtitle {
        font-size: 61px;
        line-height: 73px;
        text-align: center;
        color: #000000;
        margin-top: 4px;
    }
    &__content {
        margin-top: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        max-width: 393px;
        img {
            display: block;
            margin: 0 auto;
            max-height: 210px;
        }
        &-title {
            margin-top: 40px;
            font-size: 20px;
            color: #000000;
        }
        &-descr {
            margin-top: 12px;
            font-size: 16px;
            line-height: 24px;
            color: #212529;
        }
    }
}